.footer {
  background: $color--blue-dark;
  color: #FFF;
  font-size: .8em;
  padding: 2em;
  text-align: center;

  .colophon {
    margin-top: 3em;
    font-size: .8em;
  }

  a {
    color: $color--blue-light;

    &:hover {
      color: #FFF;
    }
  }

  h2 {
    color: $color--blue-light;
  }
}
