.header {
  display: flex;
  align-items: center;
  background: url("../img/waves.jpg") top left;
  border-top: 5px solid $color--blue-dark;
  color: #FFF;
  min-height: 50vh;
  text-align: center;

  .wrapper {
    margin: 0 auto;
    padding: 0 3em;
    width: 100%;

    @include breakpoint($breakpoint--header) {
      padding: 2em 1em;
    }
  }

  a {
    color: #FFF;
  }
}
