.header {
  --text-color: var(--color-white);
  --header-color: var(--color-white);
  --link-color: var(--color-white);
  background: url("../img/wavebkg.png") top left var(--color-blue);
  padding: 4rem 1rem;

  @media (min-width: 600px) {
    padding: 8rem 1rem;
  }

  .emulsify-logo {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;

    @media (min-width: 600px) {
      font-size: 48px;
    }
  }

  .button {
    background: var(--color-blue-dark);
    border-radius: 5px;
    display: inline-block;
    padding: 17px 31px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.05s;
    transform: scale(1);

    &:hover {
      transform: scale(1.075);
    }
  }
}
