.mc-field-group {
  margin-bottom: 3rem;

  label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0 0 0.25rem;
    display: block;
  }

  .mailchimp-wrapper {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: 600px) {
      flex-flow: row nowrap;
    }
  }

  input[type="email"] {
    box-sizing: border-box;
    display: block;
    height: 55px;
    background: var(--color-white);
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0 1rem;
    margin-right: 4px;
    margin-bottom: 0.5rem;
    width: 100%;

    &::placeholder {
      color: rgba(8, 90, 125, 0.46);
    }

    @media screen and (min-width: 600px) {
      width: auto;
    }
  }

  .button {
    border-radius: 2px;
    border: none;
    background: var(--color-blue);
    cursor: pointer;
    display: block;
    height: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0 27px;
    transition: all 0.05s;
    transform: scale(1);
    width: 100%;

    &:hover {
      transform: scale(1.075);
    }

    @media screen and (min-width: 600px) {
      width: auto;
    }
  }
}
