.section--mailchimp {
  background: $color--blue-dark;
  text-align: center;
}

#mc_embed_signup {
  h2 {
    color: white;
    margin-top: 0;

    .label {
      background: #B00;
      border-radius: 20px;
      font-size: 1rem;
      padding: 0.25rem 0.7rem;
      white-space: nowrap;
    }
  }

  p {
    color: #FFF;
  }
}

.mc-field-group {
  display: inline-block;
  margin: 0 auto;
  text-align: left;

  label {
    color: #FFF;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: left;
  }

  input.email {
    box-sizing: border-box;
    background: #FFF;
    height: 47px;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  input.button {
    background: $color--blue;
    color: #FFF;
    height: 47px;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
