.section {
  &--first,
  &--second,
  &--third,
  &--fourth {
    h2 {
      margin-top: .5em;
    }
  }
}
.section--first,
.section--third {
  background: lighten($color--blue-light,30%);
}

.cogs {
  float: right;
  max-width: 130px;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  height: auto;

  fill: $color--blue-dark;
}

.fa-drupal {
  color: $color--blue-dark;
  float: right;
  font-size: 8em;
  height: auto;
  margin-left: 30px;
  margin-bottom: 30px;
}

.styleguide {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  max-width: 130px;

  &__circle {
    fill: $color--blue-dark;
  }
}

.project {
  float: right;
  max-width: 130px;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  height: auto;

  path,
  rect {
    fill: $color--blue-dark;
  }
}
