section {
  background-color: var(--section-bkg);
  padding: 1rem 0 2rem;

  @media (min-width: 600px) {
    padding: 5rem 0;
  }
}

.section--off-center {
  @media (max-width: 601px) {
    padding: 1rem 0 2rem 1rem;
  }
}

.section-blue-light {
  --section-bkg: var(--color-blue-light);
  --icon-color: var(--color-blue-dark);
}

.section-blue-dark {
  --section-bkg: var(--color-blue-dark);
  --text-color: var(--color-white);
  --header-color: var(--color-white);
  --link-color: var(--color-white);
}
