h2 {
  margin: 2em 0 .25em;
  color: $color--blue;
  color: darken($color--blue,15%);
  font-weight: bold;
}

h3 {
  margin-top: 0;
  color: darken($color--blue,15%);
}

p {
  margin: .5em 0 1em 0;
  line-height: 1.5;

  &.small {
    font-size: .8em;
  }
}

.no-wrap {
  white-space: nowrap;
}
