:root {
  --color-blue-dark: #06425c;
  --color-blue-light: rgba(205, 233, 244, 1);
  --color-blue: rgba(26, 150, 202, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-red: #cd1313;
  --text-color: var(--color-black);
  --header-color: var(--color-blue-dark);
  --link-color: var(--color-blue);
  --max-width: 1096px;
  --section-bkg: var(--color-white);
  --icon-color: var(--color-blue);
  --font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$fa-font-path: "../fonts";
