$color--blue-light: #50B1D8;
$color--blue: #1898C6;
$color--blue-dark: #093646;

// Links
$color--link: $color--blue;
$color--link-hover: darken($color--link,5%);

// Social Media
$color--facebook  :	#3B5998;
$color--twitter   :	#00ACED;
$color--linkedin  :	#4875B4;
$color--youtube   : #BB0000;
$color--instagram : #517FA4;
$color--pinterest : #CB2027;


$font-family--sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family--serif: Georgia, "Times New Roman", Times, serif !default;
$font-family--fontawesome: 'FontAwesome';

$font-family--header: 'Montserrat', $font-family--sans-serif;
$font-family--body: 'Montserrat', $font-family--sans-serif;

$max-width: 900px;

$breakpoint--header: 500px;
