{% extends 'templates/_html.tpl' %}

{% block mainContent %}
	<section class="section-white section--off-center section__extra-padding">
		<div class="wrapper">
			<div class="col-3">
				<article>
					<h3>Bring order to chaos</h3>
					<ul class="fa-ul">
						<li>
							<span class="fa-li">
								<i class="fas fa-shield-check"></i>
							</span>Increase efficiency by reusing components</li>

						<li>
							<span class="fa-li">
								<i class="fas fa-shield-check"></i>
							</span>Provide consistency through a shared set of principles and rules</li>
					</ul>
				</article>

				<article>
					<h3>Solve accessibility issues</h3>
					<ul class="fa-ul">
						<li>
							<span class="fa-li">
								<i class="fas fa-clipboard-check"></i>
							</span>When a problem is fixed in one place, it’s fixed everywhere!</li>
						<li>
							<span class="fa-li">
								<i class="fas fa-clipboard-check"></i>
							</span>Document use cases directly within Emulsify Design System</li>
					</ul>
				</article>

				<article>
					<h3>Build it your way</h3>
					<ul class="fa-ul">
						<li>
							<span class="fa-li">
								<i class="fas fa-badge-check"></i>
							</span>Emulsify includes supports HTML, Twig, and React</li>
						<li>
							<span class="fa-li">
								<i class="fas fa-badge-check"></i>
							</span>More languages can be added through plugins</li>
					</ul>
				</article>

			</div>
		</div>

	</section>


	<section class="section-blue-light  section--off-center">
		<div class="wrapper">
			<h2 class="text-center">Why Emulsify?</h2>
			<div class="col-2">
				<ul class="fa-ul text-big">
					<li>
						<span class="fa-li">
							<i class="fas fa-usd-circle"></i>
						</span>
						<strong>Save time and money:</strong>
						Scale your design, ensure consistency, and prototype faster.</li>
					<li>
						<span class="fa-li">
							<i class="fas fa-thumbs-up"></i>
						</span>
						<strong>Ship with confidence:</strong>
						Built-in testing for accessibility, browser support, and more.</li>
				</ul>

				<ul class="fa-ul text-big">
					<li>
						<span class="fa-li">
							<i class="fas fa-books"></i>
						</span>
						<strong>A single location for everything:</strong>
						Emulsify documents everything site editors need to know to set up and use features.</li>
					<li>
						<span class="fa-li">
							<i class="fas fa-ball-pile"></i>
						</span>
						<span class="lozenge">Coming Soon</span>
						<strong>A living style guide:</strong>
						Editors, marketers, developers, and designers can easily work together to keep your documentation up to date.</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section-blue-dark">
		<div class="wrapper">
			<h2 class="small text-center">Stay up to date with the latest news from Emulsify</h2>
			{% include 'components/_mailchimp.tpl' %}
			<div class="product-of-four-kitchens">
				<span>Emulsify is a product of</span>
				{% include 'components/_fourkitchens-logo.tpl' %}
			</div>
		</div>
	</section>

	<section class="section-white">
		<div class="wrapper">
			<h2 class="text-center" style="margin-bottom: 4rem;">Built with feature-rich
				<br>and flexible technologies</h2>

			<div class="col-3 col-3--with-logos">
				<article class="text-center">
					<div class="svg-wrapper">
						{% include 'components/_logo-storybook.tpl' %}
					</div>
					<p>Develop UI components with support for React and Twig</p>
				</article>

				<article class="text-center">
					<div class="svg-wrapper">
						{% include 'components/_logo-webpack.tpl' %}
					</div>
					<p>Bundle modules with disparate dependencies and create manageable output files</p>
				</article>

				<article class="text-center" style="position: relative">
					<div class="svg-wrapper">
						{% include 'components/_logo-gatsby.tpl' %}
					</div>
					<p>
						<span class="lozenge lozenge--small">Coming Soon</span>
						Deploy your style guide documentation as a blazing fast static site
					</p>
				</article>

			</div>
		</div>
	</section>
{% endblock mainContent %}
